<h1>Log in</h1>

<form action="<%= sessions_url %>" method="POST">
	<input
	     name="authenticity_token"
	     type="hidden"
	     value="<%= form_authenticity_token %>">

	<label for="username"> Username</label>
	<input type="text" name="user[username]" id="username">

	<label for="password"> Password</label>
	<input type="password" name="user[password]" id="password">


	<input type="submit" value="Log in">
<% if flash[:errors] %>
	<% flash[:errors].each do |error| %>
		<%= error %>
	<% end %>
<% end %>
</form>
<br>
<a href="<%= new_user_url %>">Register a new user!</a>
